@import "tailwindcss";

@theme {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-secondary: oklch(70.2% 0.128 29.234);
  --color-hero: linear-gradient(
    to bottom right,
    rgba(199, 210, 254, 0.5),
    /* indigo-200 / 50% */ rgba(216, 180, 254, 0.8) /* purple-300 / 80% */
  );
}
